html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
}

.img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
    display:block;
    z-index: 0;
}

@media screen and (max-width: 768px) {
      #menu-toggle:not(:checked) + .navbar-nav {
        display: none;
      }}

.navbar{
    position:fixed;
    top:0px;
    z-index: 1;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 0;
    margin:0;
}

li{
    font-size: 20px;
}

ul.nav a:hover { color: blue; cursor: pointer; !important; }
ul.nav a:active {cursor: none; !important; }

section{
    width: 100%;
    height: 100vh;
    display: flex;
    background: gray;
}

section:nth-child(odd){
    background: white;
}

.vtsns{
    width:300px;
    max-width: 50%;
    height: 200px;
}

h3{
    text-align: center;
}

h1{
    text-align: center;
}

#konferencije h3{
    color:white;
}

#kec{
    background: red;
}

#kontakt.container.row img{
    width: 100%;
    height: 100%;
}

.contact{
    width: 200px;
    height: 200px;
}

.container-fluid-galerija{
	height:100%;
	
}

.img-responsive-sl{
	width:100%;
	height:100%;
    padding: 15px;

}
